<ion-header class="header">
  <ion-toolbar class="toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Doctors</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-grid class="wrapper">
    <ion-row class="pop_doc">
      <ion-col size="12" class="heading_title">
        <ion-text>Popular Doctors<br>
          <small>Find the best doctor near you</small>
        </ion-text>
        <ion-button size="small" fill="clear" (click)="showAll()">More
          <svg class="icon end"><use xlink:href="#next" /></svg>
        </ion-button>
      </ion-col>
      <ion-col size="12" class="boxes">
        <ion-card class="box" *ngFor="let item of [].constructor(5)" (click)="selectDoctor(item)">
          <ion-card-header class="_img" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
          url(https://www.pngarts.com/files/3/Female-Doctor-PNG-Picture.png) center top / cover"></ion-card-header>
          <ion-card-content class="_info">
            <span class="_name">Dr. Siddika Sultana Nira</span>
            <span class="_exp">Gynecological Oncology</span>
            <span class="_rate">
              <span>
                <rating [rate]="4.5" class="readonly small"></rating>
              </span>
              <span>25 reviews</span>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="rec_doc">
      <ion-col size="12" class="heading_title">
        <ion-text>Recomemded for you<br>
          <small>Find the best doctor near you</small>
        </ion-text>
        <ion-button size="small" fill="clear" (click)="showAll()">More
          <svg class="icon end"><use xlink:href="#next" /></svg>
        </ion-button>
      </ion-col>
      <ion-col size="12" class="boxes">
        <ion-card class="box" *ngFor="let item of [].constructor(5)" (click)="selectDoctor(item)">
          <ion-card-header class="_img" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
          url(http://pngimg.com/uploads/doctor/doctor_PNG16007.png) center top / cover"></ion-card-header>
          <ion-card-content class="_info">
            <span class="_name">Dr. M. Quamrul Islam Talukder</span>
            <span class="_exp">Cardiovascular & Thoracic Surgeon</span>
            <span class="_dis">
              <span>Dhanmondi, Dhaka</span>
              <span>5km.</span>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="all_doc">
      <ion-col size="12" class="heading_title">
        <ion-text>History<br>
          <small>Find the best hospital near you</small>
        </ion-text>
        <ion-button size="small" fill="clear" (click)="showAll()">More
          <svg class="icon end"><use xlink:href="#next" /></svg>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none" class="list">
          <ion-item class="item" *ngFor="let item of [].constructor(8)" (click)="selectDoctor(item)">
            <ion-thumbnail slot="start" class="_img">
              <img src="https://assets.webiconspng.com/uploads/2017/09/Doctors-And-Nurses-PNG-Image-76675.png">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap _info">
              <h4 class="_name">Dr. M. Quamrul Islam Talukder</h4>
              <p class="_exp">Cardiovascular & Thoracic Surgeon</p>
              <p class="_ins">Dhaka Medical College</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
