<ion-tabs (ionTabsWillChange)="changeTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="activity">
      <svg class="icon"><use xlink:href="#shield-1" /></svg>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <svg class="icon"><use xlink:href="#account-1" /></svg>
    </ion-tab-button>
    <ion-tab-button disabled>
      <!-- <svg class="icon"><use xlink:href="#internet" /></svg> -->
    </ion-tab-button>
    <ion-tab-button tab="notification">
      <svg class="icon"><use xlink:href="#bell-1" /></svg>
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <svg class="icon"><use xlink:href="#wheel-1" /></svg>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button routerLink="" color="{{color}}">
    <svg class="icon"><use xlink:href="#page" /></svg>
  </ion-fab-button>
</ion-fab>