<ion-content class="content" [scrollEvents]="true" (ionScroll)="pageScroll($event)">
  <ion-row class="header">
    <ion-col size="12" class="title_bar">
      <div class="heading" (click)="changeLocation($event)">
        <span>Looking For</span>
        <span>Current Location <ion-icon name="arrow-down"></ion-icon></span>
      </div>
    </ion-col>
    <ion-col size="12" class="search_bar">
      <ion-searchbar placeholder="What would you like?"></ion-searchbar>
      <ion-button size="small" (click)="doctorFilter()"><ion-icon slot="icon-only" name="options"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="12" class="segment_bar">
      <ion-segment scrollable value="psycology">
        <ion-segment-button value="psycology">
          <ion-label>Psycology</ion-label>
        </ion-segment-button>
        <ion-segment-button value="gastology">
          <ion-label>Gastology</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cardiology">
          <ion-label>Cardiology</ion-label>
        </ion-segment-button>
        <ion-segment-button value="haematology">
          <ion-label>Haematology</ion-label>
        </ion-segment-button>
        <ion-segment-button value="microbiology">
          <ion-label>Microbiology</ion-label>
        </ion-segment-button>
        <ion-segment-button value="neurology">
          <ion-label>Neurology</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  <ion-grid class="all_doc">
    <ion-list lines="none">
      <ion-list-header>Doctor List</ion-list-header>
      <ion-item class="item" *ngFor="let item of [].constructor(8)" (click)="selectDoctor(item)">
        <ion-thumbnail slot="start" class="_img">
          <img src="https://assets.webiconspng.com/uploads/2017/09/Doctors-And-Nurses-PNG-Image-76675.png">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap _info">
          <h4 class="_name">Dr. M. Quamrul Islam Talukder</h4>
          <p class="_exp">Cardiovascular & Thoracic Surgeon</p>
          <p class="_ins">Dhaka Medical College</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
