.content {background: var(--body-bg-light-color); padding: 16px 8px;
  .title {text-align: center; margin: 5px 0 12px; font-size: 14px; line-height: 18px;text-transform: capitalize;
    color: #6c757d;font-weight: 500;
  }
  .list-ios {border-radius: 0;background: transparent; margin-bottom: 0;
    .item { --inner-border-width: 0;--padding-start: 8px;--min-height: 48px;
      ion-label {font-size: 14px;
        .addr {margin-bottom: 3px;font-weight: 500; color: #6c757d;}
        .post {font-size: 85%;font-weight: 700; color: var(--ion-color-primary-shade);}
      }
    }
  }
}