<ion-grid class="content">
  <p class="title">Please select atleast one location.</p>
  <ion-list lines="full">
    <ion-item button>
      <ion-label class="ion-text-wrap">
        <p class="addr">House#81, Road#17, Sector#14, Uttara</p>
        <p class="post">Dhaka 1230</p>
      </ion-label>
    </ion-item>  
    <ion-item button>
      <ion-label class="ion-text-wrap">
        <p class="addr">House#06, Road#03, Block#J, Baridhara</p>
        <p class="post">Dhaka 1230</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-grid>