.content {--background: var(--body-bg-color);padding: 1em;
  .header {background: var(--ion-color-primary);color: var(--ion-color-primary-contrast);padding: .5em; box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    .title_bar {display: grid; grid-template-columns: 1fr auto;align-items: center;
        .heading {display: block;margin-top: .25em;
            span{
                &:first-child{font-size: 13px; color: #efefef;}
                &:last-child{font-size: 18px; line-height: 1.25; font-weight: 500;display: flex;align-items: center;
                    ion-icon {margin-left: 5px;}
                }
            }
        }
    }
    .search_bar {display: grid;grid-template-columns: 1fr auto; align-items: center; grid-gap: .25em; margin-top: .25em;
      ion-searchbar {padding: 0; height: 40px; --color: var(--ion-color-primary-contrast);--background: var(--ion-color-primary-tint);
        --icon-color: #ddd; --clear-button-color: #ddd; --placeholder-opacity: .8;
      }
      ion-button {margin: 0;min-height: 100%; --border-radius: 4px; --color: var(--ion-color-primary-contrast);--background: var(--ion-color-primary-tint);
        --background-activated: var(--ion-color-primary-shade);
      }
    }
    .segment_bar {
      ion-segment{
        ion-segment-button {--border-radius: 0; --border-width: 0;font-weight: 500; min-height: 28px; text-transform: unset;
          --color: var(--ion-color-primary-contrast);--background-checked: var(--ion-color-primary-shade);
           --color-checked: var(--ion-color-primary-contrast);--indicator-color-checked: var(--ion-color-primary-shade);
           --padding-start: 16px; --padding-end: 16px;
          ion-label {margin: 0;}
          .segment-button-indicator {height: 0;}
        }
      }
    }
    &.fixed {position: fixed; top: 0; left: 0; right: 0; z-index: 9;
        .title_bar, .segment_bar {display: none;}
        .search_bar {margin-top: 0;}
    }
  }
  .all_doc {
    .list-ios, .list-md {margin: 0;
      ion-list-header {text-transform: capitalize; font-size: 16px;}
      .item {--background: #f1f3f5; box-shadow: 0 0px 3px rgba(0,0,0,.12); margin: 1em .5em; --padding-start: 8px;        
        ._img {height: auto; width: auto; max-width: 56px; max-height: 60px; overflow: hidden;}
        ._info {
          ._name {font-size: 15px;font-weight: 500;line-height: 1.2; color: #212529;}
          ._exp {font-size: 12px;font-weight: 500;line-height: 1.2; color: #212529;}
          ._ins {font-size: 12px;font-weight: 500;line-height: 1.2; color: #6c757d; margin-top: 3px;}
        }
        &:nth-child(2) {margin-top: 0;}
      }
    }
  }
}